<table id="features" class="table table-bordered">
    <caption>Overview of Signpost Benefits</caption>
    <thead>
      <tr>
        <th><em>Features</em></th>
        <th>Security</th>
        <th>Resilience</th>
<!--         <th>Ease of use</th> -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Personal Namespace</strong></td>
        <td><a href="#identity">Identity</a></td>
        <td><a href="#decoupled">Decoupled and vendor-proof</a></td>
<!--         <td><a href="">-</a></td> -->
      </tr>
      <tr>
        <td><strong>Stable Device Binding</strong></td>
        <td><a href="#service-assoc">Service Association</a></td>
        <td><a href="#your-id">Your ID</a></td>
<!--         <td><a href="">-</a></td> -->
      </tr>
      <tr>
        <td><strong>Ubiquitous Connectivity</strong></td>
        <td><a href="#secure-p2p">Secure P2P</a></td>
        <td><a href="#offline">Works offline</a></td>
<!--         <td><a href="">-</a></td> -->
      </tr> 
    </tbody>
</table>
