---
layout: default
title: "Nymote"
tagline:
---
{% include JB/setup %}

<!-- This section is for Splash Screen -->
<div class="ole">
  <section id="jSplash">
    <div id="circle"></div>
  </section>
</div>
<!-- End of Splash Screen -->

<!-- Homepage Slider -->
<div id="top"></div>
<div id="home-slider">  
  <div class="overlay">
    <img src="images/nymote-logo-white.png" class="sliderlogo fluid" />
  </div>
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="slider-text">
          <div id="slidecaption"></div>
        </div>
      </div>
    </div>
  </div>   
  
  <div class="control-nav">
    <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
    <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
    <ul id="slide-list">
    </ul>
    <a id="nextsection" href="#home"><i class="icon-arrow-down"></i></a>
  </div>
</div>
<!-- End Homepage Slider -->

<!-- Header -->
<header>
  <div class="sticky-nav">
    <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
    <div id="logo">
      <a id="goUp" href="#top"></a>
    </div>
        
    <nav id="menu">
      <ul id="menu-nav">
        <li class="current"><a href="#home">Home</a></li>
        <li><a href="#overview">Overview</a></li>
        <li><a href="#software">Software</a></li>
        <li><a href="/blog" class="external">Blog</a></li>
        <li><a href="#about">About Us</a></li>
      </ul>
    </nav>      
  </div>
</header>
<!-- End Header -->

<!-- Home Section -->
<div id="home" class="page">
  <div class="container">
    {% include frontpage/home.html %}
  </div>
</div>
<!-- End Home Section -->

<!-- Overview Section -->
<div id="overview" class="page-alternate">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2 class="title">Overview</h2>
      </div>
    </div>

    <div class="row">
      <div class="span6">
        <div class="title-page">
          <div class="page-description">
            {% include frontpage/overview01.html %}
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="title-page">
          <div class="page-description">
            {% include frontpage/overview02.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Overview Boxes -->

{% include frontpage/blockquote.html %}

<!-- Software Section -->
<div id="software" class="page-alternate">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="title-page">
          <h2 class="title">Software for a personal cloud</h2>
          <h3 class="title-description"></h3>
          <div class="page-description">
<!--remove?--><h3 id='tools_to_build_a_distributed_future'></h3>
            <p>There are two areas we need to work on to allow us to regain the freedoms we&#8217;ve lost. The first of these is to create the appropriate <a href='#infrastructure'>infrastructure</a> that incorporates good security and is distributed in nature. These tools will form the bedrock on which we can then build robust and scalable <a href='#applications'>applications</a>, that provide all the great things we are used to but without requiring us to be subject to the whims of the Internet Barons.</p><!-- siren servers and our faustian bargain -->

            <!-- INFRASTRUCTURE Section -->
            <div class="row">
              <div class="span12 marginb">
                <h2>Infrastructure</h2>
                <p>The underlying building blocks are a crucial piece of the puzzle. We need robust and open-source tools that allow us to create distributed systems that anyone can build on. These tools are the bedrock on which we will create the next generation of products. They deal with the issues of <a href='#signpost'>connectivity</a>, <a href='#irminsule'>synchronisation</a>, and <a href='#mirage'>deployment</a>.</p>
              </div>
            </div>
            
            <div class="row">
              <div class="span3">
                <div class="services-box">
                  <div class="icon" style="margin-top: 5px;">
                    <span class="icon-compass"></span>
                  </div>
                </div>   
              </div>
              <div class="span9">
                <h3>Signpost</h3>
                <p>The cloud is a (mostly) always available service that can be seen by all devices. Without this, it is difficult for individual devices to find each other. <strong>Signpost</strong> is building &#8220;personal cloud&#8221; infrastructure to let your devices all see each and reach each other without requiring any complex configuration. Once all your devices can find each other, regardless of location, you effectively have your own little internet.<br />
                <em>(<a href='/software/signpost/'>more about signpost</a></em>)</p>
              </div>
            </div>

            <div class="row">
              <div class="span3">
                <div class="services-box">
                  <div class="icon" style="margin-top: 5px;">
                    <span class="icon-refresh"></span>
                  </div>
                </div>   
              </div>
              <div class="span9">
                <h3>Irminsule</h3>
                <p>Having multiple devices has made the engineering effort around data persistence and sync more complex. We have to concern ourselves about how data obtained for one device is made available and useful to others, without losing history. <strong>Irminsule</strong> is a new kind of library database, based on the principles of Git (the version control system), meaning that all history can be kept and moved between devices with ease.<br />
                <em>(<a href='/software/irminsule/'>more about irminsule</a></em>)</p>
              </div>
            </div>

            <div class="row">
              <div class="span3">
                <div class="services-box">
                  <div class="icon" style="margin-top: 5px;">
                    <span class="icon-cloud"></span>
                  </div>
                </div>   
              </div>
              <div class="span9">
                <h3>Mirage</h3>
                <p>Most applications that run in the cloud aren&#8217;t optimised to do so. They inherently carry assumptions about the underlying operating system with them, including vulnerabilities and bloat. <strong>Mirage</strong> represents an approach where only the necessary components are included, allowing for highly efficient and extremely lean &#8216;appliances&#8217;. These can be deployed in environments ranging from Amazon&#8217;s EC2 to the Raspberry Pi.<br />
                <em>(<a href='/software/mirage/'>more about mirage</a></em>)</p>
              </div>
            </div>

            <!-- INFRASTRUCTURE Section -->
            <div class="row">
              <div class="span12 marginb">
                <h2>Applications</h2>
                <p>With the new infrastructure, we are able to build robust applications that will push towards a more decentralised web and empower knew kinds of innovation and exploration. Building on the right foundations, means the core aspects of connectivity and syncing between devices will already be accounted for so the focus can shift to functionality and extensibility.</p>
              </div>
            </div>
            
            <div class="row">
              <div class="span3">
                <div class="services-box">
                  <div class="icon" style="margin-top: 5px;">
                    <span class="icon-envelope"></span>
                  </div>
                </div>   
              </div>
              <div class="span9">
                <h3>Mail</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id sem urna. Morbi laoreet orci sed elit fermentum mollis. Vestibulum ornare commodo fringilla. Praesent ut rutrum leo, non condimentum lectus. Pellentesque pellentesque dui in urna pharetra, ut pretium mi sollicitudin. Morbi tortor ligula, aliquam nec nibh sed, ornare ornare velit. Etiam at dui a mauris porta condimentum id et velit. Cras semper mollis lacus vitae porta.</p>
              </div>
            </div>

            <div class="row">
              <div class="span3">
                <div class="services-box">
                  <div class="icon" style="margin-top: 5px;">
                    <span class="icon-group"></span>
                  </div>
                </div>   
              </div>
              <div class="span9">
                <h3>Contacts</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id sem urna. Morbi laoreet orci sed elit fermentum mollis. Vestibulum ornare commodo fringilla. Praesent ut rutrum leo, non condimentum lectus. Pellentesque pellentesque dui in urna pharetra, ut pretium mi sollicitudin. Morbi tortor ligula, aliquam nec nibh sed, ornare ornare velit. Etiam at dui a mauris porta condimentum id et velit. Cras semper mollis lacus vitae porta.</p>
              </div>
            </div>

            <div class="row">
              <div class="span3">
                <div class="services-box">
                  <div class="icon" style="margin-top: 5px;">
                    <span class="icon-calendar"></span>
                  </div>
                </div>   
              </div>
              <div class="span9">
                <h3>Calendar</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id sem urna. Morbi laoreet orci sed elit fermentum mollis. Vestibulum ornare commodo fringilla. Praesent ut rutrum leo, non condimentum lectus. Pellentesque pellentesque dui in urna pharetra, ut pretium mi sollicitudin. Morbi tortor ligula, aliquam nec nibh sed, ornare ornare velit. Etiam at dui a mauris porta condimentum id et velit. Cras semper mollis lacus vitae porta.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- End Software Section -->

{% include frontpage/blockquote.html %}

<!-- About Section -->
<div id="about" class="page-alternate">
  <div class="container">
    <div class="row">
      <div class="span">
        <h2 class="title">About Us</h2>
      </div>
    </div>
    
    <div class="row">
      <div class="span6">
        <div class="title-page">
          <h3 class="title-description">Learn About our Team.</h3>
          <div class="page-description">
            <p>Building lightweight systems specifically geared to live on the cloud is not a trivial undertaking. Even though it’s possible to string together something quick with existing tools, they are ultimately limited since they lack the necessary security considerations. To build scalable and distributed systems of this kind requires deep expertise in the areas of networking, distributed software and the cloud.</p>
          </div>
        </div>
      </div>

      <div class="span6">
        <div class="title-page">
          <h3 class="title-description">Learn About our Culture.</h3>
          <div class="page-description">
            <p>The software for Nymote comprises a number of related items that provide the core requirements of identity, connectivity and data storage. The overall project is led by Anil Madhavapeddy, Jon Crowcroft and Amir Chaudhry and below is a list of the contributors so far.</p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Mugshots section -->    
    <div class="sep">
      <span class="separator"></span>
    </div>

    <div class="row">
      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/anil.jpg" alt="Anil">
        </div>
        <h5 class="profile-name">Anil M</h5>
        <p class="profile-description"></p>
      </div>

      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/jonc.gif" alt="Jon">
        </div>
        <h5 class="profile-name">Jon C</h5>
        <p class="profile-description"></p>
      </div>

      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/amir.jpg" alt="Amir">
        </div>
        <h5 class="profile-name">Amir C</h5>
        <p class="profile-description"></p>
      </div>

      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/mort.png" alt="Mort">
        </div>
        <h5 class="profile-name">Richard M</h5>
        <p class="profile-description"></p>
      </div>

      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/tg.png" alt="Thomas">
        </div>
        <h5 class="profile-name">Thomas G</h5>
        <p class="profile-description"></p>      
      </div>

      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/djs.jpg" alt="David S">
        </div>
        <h5 class="profile-name">David S</h5>
        <p class="profile-description"></p>      
      </div>

      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/sheets.png" alt="David">
        </div>
        <h5 class="profile-name">David S</h5>
        <p class="profile-description"></p>      
      </div>

      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/haris.jpg" alt="Haris">
        </div>
        <h5 class="profile-name">Haris R</h5>
        <p class="profile-description"></p>      
      </div>

      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/heidi.jpg" alt="Heidi">
        </div>
        <h5 class="profile-name">Heidi H</h5>
        <p class="profile-description"></p>      
      </div>

      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/raphael.jpg" alt="Raphael">
        </div>
        <h5 class="profile-name">Raphael P</h5>
        <p class="profile-description"></p>    
      </div>

      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/default.jpg" alt="Balraj">
        </div>
        <h5 class="profile-name">Balraj S</h5>
        <p class="profile-description"></p>      
      </div>

      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
              <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/smh.jpg" alt="Steve">
        </div>
        <h5 class="profile-name">Steven H</h5>
        <p class="profile-description"></p>      
      </div>

      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/vb.jpg" alt="Vincent">
        </div>
        <h5 class="profile-name">Vincent B</h5>
        <p class="profile-description"></p>      
      </div>

      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/jludlam.jpg" alt="John">
        </div>
        <h5 class="profile-name">Jon L</h5>
        <p class="profile-description"></p>
      </div>
    </div> <!-- End Mugshots -->
  </div>
</div>

<!-- Are these close divs superflous? or do they belong in default? -->
</div>
</div>    
</div>
</div>
