---
layout: default
title: "Nymote"
tagline:
---
{% include JB/setup %}

<!-- This section is for Splash Screen -->
<div class="ole">
  <section id="jSplash">
    <div id="circle"></div>
  </section>
</div>
<!-- End of Splash Screen -->

<!-- Homepage Slider -->
<div id="top"></div>
<div id="home-slider">  
  <div class="overlay">
    <img src="images/nymote-logo-white.png" class="sliderlogo fluid" />
  </div>
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="slider-text">
          <div id="slidecaption"></div>
        </div>
      </div>
    </div>
  </div>   
  
  <div class="control-nav">
    <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
    <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
    <ul id="slide-list">
    </ul>
    <a id="nextsection" href="#home"><i class="icon-arrow-down"></i></a>
  </div>
</div>
<!-- End Homepage Slider -->

<!-- Header -->
<header>
  <div class="sticky-nav">
    <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
    <div id="logo">
      <a id="goUp" href="#top"></a>
    </div>
        
    <nav id="menu">
      <ul id="menu-nav">
        <li class="current"><a href="#home">Home</a></li>
        <li><a href="#overview">Overview</a></li>
        <li><a href="#software">Software</a></li>
        <li><a href="/blog" class="external">Blog</a></li>
        <li><a href="#about">About Us</a></li>
      </ul>
    </nav>      
  </div>
</header>
<!-- End Header -->

<!-- Home Section -->
<div id="home" class="page">
  <div class="container">
    {% include frontpage/home.html %}
  </div>
</div>
<!-- End Home Section -->

<!-- Overview Section -->
<div id="overview" class="page-alternate">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2 class="title">Overview</h2>
      </div>
    </div>

    <div class="row">
      <div class="span6">
        <div class="title-page">
          <div class="page-description">
            {% include frontpage/overview01.html %}
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="title-page">
          <div class="page-description">
            {% include frontpage/overview02.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Overview Boxes -->

{% include frontpage/blockquote.html %}

<!-- Software Section -->
<div id="software" class="page-alternate">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="title-page">
          <h2 class="title">Software for a personal cloud</h2>
          <h3 class="title-description"></h3>
          <div class="page-description">
<!--remove?--><h3 id='tools_to_build_a_distributed_future'></h3>
            {% include frontpage/sw-intro.html %}

            <!-- INFRASTRUCTURE Section -->
            <div class="row">
              <div class="span12 marginb">
                {% include frontpage/sw-infra-intro.html %}
              </div>
            </div>
            {% include frontpage/sw-infra.html %}

            <!-- INFRASTRUCTURE Section -->
            <div class="row">
              <div class="span12 marginb">
                {% include frontpage/sw-apps-intro.html %}
              </div>
            </div>
            {% include frontpage/sw-apps.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- End Software Section -->

{% include frontpage/blockquote.html %}

<!-- About Section -->
<div id="about" class="page-alternate">
  <div class="container">
    <div class="row">
      <div class="span">
        <h2 class="title">About Us</h2>
      </div>
    </div>
    
    <div class="row">
      <div class="span6">
        <div class="title-page">
          <h3 class="title-description">Learn About our Team.</h3>
          <div class="page-description">
            <p>Building lightweight systems specifically geared to live on the cloud is not a trivial undertaking. Even though it’s possible to string together something quick with existing tools, they are ultimately limited since they lack the necessary security considerations. To build scalable and distributed systems of this kind requires deep expertise in the areas of networking, distributed software and the cloud.</p>
          </div>
        </div>
      </div>

      <div class="span6">
        <div class="title-page">
          <h3 class="title-description">Learn About our Culture.</h3>
          <div class="page-description">
            <p>The software for Nymote comprises a number of related items that provide the core requirements of identity, connectivity and data storage. The overall project is led by Anil Madhavapeddy, Jon Crowcroft and Amir Chaudhry and below is a list of the contributors so far.</p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Mugshots section -->    
    <div class="sep">
      <span class="separator"></span>
    </div>

    <div class="row">
      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/anil.jpg" alt="Anil">
        </div>
        <h5 class="profile-name">Anil M</h5>
        <p class="profile-description"></p>
      </div>

      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/jonc.gif" alt="Jon">
        </div>
        <h5 class="profile-name">Jon C</h5>
        <p class="profile-description"></p>
      </div>

      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/amir.jpg" alt="Amir">
        </div>
        <h5 class="profile-name">Amir C</h5>
        <p class="profile-description"></p>
      </div>

      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/mort.png" alt="Mort">
        </div>
        <h5 class="profile-name">Richard M</h5>
        <p class="profile-description"></p>
      </div>

      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/tg.png" alt="Thomas">
        </div>
        <h5 class="profile-name">Thomas G</h5>
        <p class="profile-description"></p>      
      </div>

      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/djs.jpg" alt="David S">
        </div>
        <h5 class="profile-name">David S</h5>
        <p class="profile-description"></p>      
      </div>

      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/sheets.png" alt="David">
        </div>
        <h5 class="profile-name">David S</h5>
        <p class="profile-description"></p>      
      </div>

      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/haris.jpg" alt="Haris">
        </div>
        <h5 class="profile-name">Haris R</h5>
        <p class="profile-description"></p>      
      </div>

      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/heidi.jpg" alt="Heidi">
        </div>
        <h5 class="profile-name">Heidi H</h5>
        <p class="profile-description"></p>      
      </div>

      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/raphael.jpg" alt="Raphael">
        </div>
        <h5 class="profile-name">Raphael P</h5>
        <p class="profile-description"></p>    
      </div>

      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/default.jpg" alt="Balraj">
        </div>
        <h5 class="profile-name">Balraj S</h5>
        <p class="profile-description"></p>      
      </div>

      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
              <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/smh.jpg" alt="Steve">
        </div>
        <h5 class="profile-name">Steven H</h5>
        <p class="profile-description"></p>      
      </div>

      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/vb.jpg" alt="Vincent">
        </div>
        <h5 class="profile-name">Vincent B</h5>
        <p class="profile-description"></p>      
      </div>

      <div class="span2 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Contributor</span>
          </div>
          <img src="images/mugshots/jludlam.jpg" alt="John">
        </div>
        <h5 class="profile-name">Jon L</h5>
        <p class="profile-description"></p>
      </div>
    </div> <!-- End Mugshots -->
  </div>
</div>

<!-- Are these close divs superflous? or do they belong in default? -->
</div>
</div>    
</div>
</div>
