<table class="table table-hover">
    <thead>
        <tr>
            <th>Interesting Links <a href="http://feeds.pinboard.in/rss/u:amirmc/t:nymote/"><span class="icon-rss"></span></a></th>
            <th style="alight: right; width: 10%">Added on</th>
        </tr>
    </thead>
    <tbody>
        <tr>
    <td>
        <p><a href="http://www.openremote.com/">OpenRemote | Open Source for Internet of Things | OpenRemote</a></p>

        
        <p>"OpenRemote is the professional open source middle-ware for an Internet of Things. You can Integrate any device or protocol, and Design any user interface and intelligent system. User interfaces are available for iOS, Android and for web browsers. Cloud-based design tools allow easy upgrades, and make your product Future proof" --- Seems like a way to connect proprietary protocols together. List of products at http://www.openremote.com/certified-products-new/</p>
        
    </td>
    <td>
        10 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6526551">Glue for the Internet of Things | Hacker News</a></p>

        
        <p>HN discussion about the article.</p>
        
    </td>
    <td>
        10 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://techcrunch.com/2013/10/08/byod-service-enterproid-raises-12m-from-google-ventures-and-changes-name-to-divide/">BYOD Service Enterproid Raises $12M From Google Ventures And Changes Name To &#8220;Divide&#8221; | TechCrunch</a></p>

        
        <p>"Enterproid, which has changed its name to Divide, announced $12 million in funding today from Google Ventures in a Series B round for its service that encrypts a device and separates a person&#8217;s personal and work data" The idea of using your own device and separating the personal and corporate identities on that device is an important one. It's something Signpost is geared to help with (as it can deal with key management and revocation).</p>
        
    </td>
    <td>
        09 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6514574">Nest introduces their Smoke Detector | Hacker News</a></p>

        
    </td>
    <td>
        08 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://nest.com/smoke-co-alarm/life-with-nest-protect/">Nest smoke alarm</a></p>

        
        <p>Nest Protect smoke and carbon monoxide (CO) alarm "If Nest Protect&#8217;s carbon monoxide alarm goes off, your Nest Thermostat automatically turns off your gas furnace"</p>
        
    </td>
    <td>
        08 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.salon.com/2013/10/02/my_embarrassing_picture_went_viral/">My embarrassing picture went viral - Salon.com</a></p>

        
        <p>Interesting as the pic mentioned was 'leaked' due to user not understanding privacy settings in Facebook.</p>
        
    </td>
    <td>
        08 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://allthingsd.com/20131007/it-spending-to-reach-3-8-trillion-next-year-as-billions-of-things-get-connected/">IT Spending to Reach $3.8 Trillion Next Year, as Billions of Things Get Connected &#8211; AllThingsD</a></p>

        
        <p>"Here&#8217;s the figure: $3.8 trillion. That&#8217;s the new figure that research firm Gartner said global IT spending will reach next year. And good news if you&#8217;re in the business of selling IT products and services, it amounts to a rise of nearly four percent from 2013. Peter Sondergaard, Gartner&#8217;s head of research. "</p>
        
    </td>
    <td>
        08 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://thethingsystem.com/index.html">&#9443; the thing system - Hello, world!</a></p>

        
        <p>"Your life and your house went from one computer to an Internet of things. From tablets to lightbulbs, from sensors to media boxes, everybody gets their own Internet. Today, you have to fight your things. They don't talk to each other, the apps don't work, it's a tower of babel. Our solution &#8212; the Thing System &#8212; is open source. We'll talk to anything, you can hack the system, it has an open API. With the Thing System, you can finally take control of your things" code at https://github.com/TheThingSystem/</p>
        
    </td>
    <td>
        07 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://jitsi.org/">jitsi.org | Jitsi</a></p>

        
        <p>FOSS Video conferencing software Source code at: https://github.com/jitsi/jitsi</p>
        
    </td>
    <td>
        07 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://cupcake.io/">Cupcake</a></p>

        
        <p>- Hosted version of tent.io (by the same people). $5 pcm - 1GB of service which increases by 1GB per month. - background post at https://cupcake.io/blog/2013/tentis-is-now-cupcake</p>
        
    </td>
    <td>
        07 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=5885756">Off-the-Record Messaging &#8211; encrypt your instant messages | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://github.com/samsquire/ideas">samsquire/ideas</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://cozy.io/">Cozy, a personal cloud you can hack, host and delete</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://kolab.org/">Home | Kolab.org Community</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://blog.cloudflare.com/the-story-of-a-little-dns-easter-egg">The story of a little DNS easter egg | CloudFlare Blog</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6306047">Why The Sharing Economy Isn&#8217;t | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://elementaryos.org/">Home | elementary OS</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6385265">On Contact Management | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.fiercewireless.com/story/who-owns-internet-things/2013-09-16">Who owns the Internet of things? - FierceWireless</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6471697">BitTorrent Chat - Private instant messaging via secure, distributed technology | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.devicescape.com/">Devicescape - Home</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=5888247">What's a good replacement for Google Apps in a NSA-poisoned post-cloud era? | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://mobile.rawstory.com/therawstory/#!/entry/how-retail-stores-track-your-instore-movements-via-smartphone-without,51ee4a95da27f5d9d0fce763">The Raw Story</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://vanillaforums.org/">Community Forum Software - Vanilla Community</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.engadget.com/2010/05/26/a-modest-proposal-the-continuous-client/">A modest proposal: the Continuous Client</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.netprnt.com/">NETprnt</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://blogs.law.harvard.edu/doc/2013/08/31/thoughts-on-privacy/">Doc Searls Weblog &#183; Thoughts on privacy</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.keybits.net/">Home | Keybits</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://tools.ietf.org/html/draft-ietf-scim-use-cases-00">draft-ietf-scim-use-cases-00 - SCIM Use Cases</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://www.aerofs.com/">Secure File Sharing and File Sync | AeroFS</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.globalidentityfoundation.org/">&#8206;www.globalidentityfoundation.org</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://idcubed.org/open-platform/platform/">ID3 - idcubed.org - Open Mustard Seed (OMS) Framework</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://techonomy.com/2013/07/as-nsa-worries-cloud-dropbox-tonido-offers-its-personal-cloud/">As NSA Worries Cloud Dropbox, Tonido Offers its "Personal Cloud"</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://indiewebcamp.com/Projects">projects - IndieWebCamp</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://aralbalkan.com/notes/codename-prometheus/">Aral Balkan &#8212; Codename Prometheus</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://lanyrd.com/2013/digital-shoreditch-festival/scfgkp/">Surely its my Big Data at Digital Shoreditch Festival 2013 | Lanyrd</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.wired.com/opinion/2012/11/feudal-security/">When It Comes to Security, We're Back to Feudalism | Wired Opinion | Wired.com</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://bitcoinism.blogspot.co.uk/2013/09/building-pgp-web-of-trust-that-people.html?m=1">Bitcoinism: Building a PGP web of trust that people will actually use</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://klinger.io/post/17313437389/my-addressbook-keep-it-telephone-numbers-are-a?bf8f3878">My Addressbook? Keep it. Telephone numbers are a disgrace to our generation. - Startup Lessons Learned</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.citadel.org/">start - Citadel.org</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://researcher.watson.ibm.com/researcher/view_project.php?id=664">Identity Mixer</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=5866900">Concrete steps that I have made to gain control over my data:&lt;p&gt;- hosting my DNS... | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://medium.com/look-what-i-made/21648153a025">MyNSA: Google for the Private Web &#8212; Look What I Made &#8212; Medium</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://abcnews.go.com/blogs/headlines/2013/08/baby-monitor-hacking-alarms-houston-parents/">Baby Monitor Hacking Alarms Houston Parents - ABC News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://www.getcloak.com/">Cloak VPN - Cloak - GetCloak.com</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.ctrlio.com/">CTRLio</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.mckinsey.com/insights/high_tech_telecoms_internet/the_internet_of_things">The Internet of Things | McKinsey &amp; Company</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6356564">Be the first engineer at Lob (YC S13) and help build a suite of Cloud API&#8217;s | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=3570462">HN Discussion: My Addressbook? Keep it. Telephone numbers are a disgrace to our generation. | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://mobile.bloomberg.com/video/changes-in-the-post-server-world-0xq_EQfgSfyILuG7s~GIjQ.html">Changes in the Post Server World</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6487042">Cueup.com is shutting down | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.troyhunt.com/2013/01/inviting-hackers-into-our-homes-via.html?m=1">Troy Hunt: Inviting hackers into our homes via the internet of things</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://medium.com/i-m-h-o/a5890c2c2cc0">&#8220;How will they make money?&#8221; is the wrong question &#8212; I.M.H.O. &#8212; Medium</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://moonlet.is/">Moonlet</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://www.cryptoseal.com/">CryptoSeal: VPN as a service</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://wuala.com/">Wuala - Secure Cloud Storage - Backup. Sync. Share. Access Everywhere.</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.gnu.org/software/social/faq.html">GNU social</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://blog.bytemark.co.uk/2013/08/30/why-were-supporting-mailpile-a-modern-fast-webmail-client-with-user-friendly-encryption">Why we&#8217;re supporting Mailpile &#8211; a modern, fast webmail client with user-friendly encryption | Bytemark Blog</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://m.newyorker.com/online/blogs/elements/2013/09/how-a-relationship-dies-on-facebook.html">How a Relationship Dies on Facebook : The New Yorker</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.cloudreach.com/">Cloudreach - Home</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://pandodaily.com/2012/02/26/steve-jobs-was-right-dropbox-is-a-feature-not-a-product/">Steve Jobs was right: Dropbox is a feature, not a product | PandoDaily</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://vole.cc/">Vole.cc</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6115088">Edward Snowden's not the story. The fate of the internet is | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://silentcircle.wordpress.com/2013/08/16/why-cant-email-be-secure/">Why can&#8217;t email be secure? | Silent Circle Blog</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.internetofthings.fi/">The Future of IoT | IoT</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6289664">Why I'm saying goodbye to Dropbox and hello to SpiderOak Hive | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://letstalkbitcoin.com/own-your-identity-with-bitshares/#.UiPIPhYrSib">Own your Identity with BitShares | Lets Talk Bitcoin</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://indieboxproject.org/blog/">The Indie Box Project | Open-source application administration tools for Linux devices</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://postscapes.com/internet-of-things-market-size">Internet of things market size- Postscapes</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.billmonitor.com/">Compare UK Mobile Phone Deals | billmonitor | Ofcom Approved</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.sensinode.com/">Sensinode Home - Sensinode Ltd</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6038985">Show HN: mailparser.io - extract data from inbound emails | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.zdnet.com/the-major-enterprise-collaboration-platforms-and-their-mobile-clients-7000018519/">The major enterprise collaboration platforms and their mobile clients | ZDNet</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6228265">Trsst: Proposed distributed secure blog platform for the open web | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6268480">Open Letter to Calendar Developers about HTTP | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://gigaom.com/2013/08/27/this-man-thinks-big-data-and-privacy-can-co-exist-and-heres-his-plan/">This man thinks big data and privacy can co-exist, and here&#8217;s his plan &#8212; Tech News and Analysis</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6313147">Drug Agents Use Vast Phone Trove Eclipsing N.S.A.&#8217;s | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://readwrite.com/2011/07/20/pachube_acquired#awesm=~oh27X1soSLYDZ7">Pachube Acquired: Why Did It Sell So Early? &#8211; ReadWrite</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://gigaom.com/2013/09/10/the-connected-fridge-is-a-thing-of-the-past-washing-machines-dominate-this-hype-cycle/">The connected fridge is a thing of the past. Washing machines dominate this hype cycle &#8212; Tech News and Analysis</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.zdnet.com/google-hangoutsgtalk-glitch-sends-chats-to-wrong-recipients-7000021195/">Google Hangouts/GTalk glitch sends chats to wrong recipients | ZDNet</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.technologyreview.com/view/519361/us-military-scientists-solve-the-fundamental-problem-of-viral-marketing/">US Military Scientists Solve the Fundamental Problem of Viral Marketing | MIT Technology Review</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://kolab.org/news/2013/07/16/kolab-3.1-alpha-released-irony">Kolab 3.1 alpha released with iRony | Kolab.org Community</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6152046">Mailpile: Let&#8217;s take email back | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://allthingsd.com/20130814/flickr-co-founder-stewart-butterfield-turns-to-workplace-communication-tools-with-slack/">Flickr Co-Founder Stewart Butterfield Turns to Workplace Communication Tools With Slack &#8211; AllThingsD</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://vimeo.com/61862454">Bears, Bats, and Bees. The internet of things needs our help on Vimeo</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6293346">Exfiltrate Files with DNS Queries | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://kolab.org/get-kolab">Get Kolab | Kolab.org Community</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://readwrite.com/2009/12/08/top_10_internet_of_things_products_of_2009#awesm=~oh28tt3ghi9wgA">Top 10 Internet of Things Products of 2009 &#8211; ReadWrite</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://gigaom.com/2013/09/10/with-ibeacon-apple-is-going-to-dump-on-nfc-and-embrace-the-internet-of-things/">With iBeacon, Apple is going to dump on NFC and embrace the internet of things &#8212; Tech News and Analysis</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6449546">Google Hangouts/GTalk glitch sends chats to wrong recipients | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://indieboxproject.org/blog/2013/09/indie-box-has-successfully-installed-its-first-web-application/">Indie Box has successfully installed its first web application on a Wandboard | The Indie Box Project</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.completelyprivatefiles.com/">Viivo SecretSync</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://event.gigaom.com/structureeurope/schedule/">Schedule | GigaOM Events</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://allthingsd.com/20130627/tomfoolerys-anchor-app-is-about-workplace-social-not-productivity/">Tomfoolery&#8217;s Anchor App Is About Workplace Social, Not Productivity &#8211; AllThingsD</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://prezi.com/te0ywjyua2pb/hat-project-layers/">HAT Project layers by xingjie shen on Prezi</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.bbc.co.uk/news/technology-23869462">BBC News - How one man turns annoying cold calls into cash</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://arkos.io/contact/">The arkOS Archives</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://readwrite.com/2010/12/15/top_10_internet_of_things_developments_of_2010#awesm=~oh28AILz8coqIG">Top 10 Internet of Things Developments of 2010 &#8211; ReadWrite</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6392322">Dear USA, my data has left your building. | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://en.wikipedia.org/wiki/BetterCloud">BetterCloud - Wikipedia, the free encyclopedia</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://techcrunch.com/2013/10/03/cue-acquired-for-over-40m-likely-by-apple-to-compete-with-google-now/">Apple Buys Cue For Over $40M To Compete With Google Now | TechCrunch</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://tacma.net/protection.php">Privacy Tools | Terms And Conditions May Apply | Hyrax Films</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6183389">Minus the gifts part, this is all terrific advice. As the person-in-charge-of-a... | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://pond.imperialviolet.org/">Pond - Pond</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6268277">How We Killed Privacy -- in 4 Easy Steps | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://venturebeat.com/2013/07/17/bittorrent-sync-is-cloud-without-risk/">&#8206;venturebeat.com/2013/07/17/bittorrent-sync-is-cloud-without-risk/</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6316888">ArkOS for the Raspberry Pi | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://bits.blogs.nytimes.com/2013/09/10/beyond-passwords-new-tools-to-identify-humans/">Machines Made to Know You, by Touch, Voice, Even by Heart - NYTimes.com</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://blog.lexfriedman.com/post/2856721099/dns-servers-specific-domains">Use different DNS servers for specific domains | Lex Friedman | Lex, Briefly</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://m.bbc.co.uk/news/technology-24283179">BBC News - Yahoo in recycled email privacy row</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://gigaom.com/2013/10/03/designing-security-into-the-internet-of-things/">Designing security into the internet of things &#8212; Tech News and Analysis</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.idgconnect.com/abstract/2523/crowdsourcing-innovation-alen-peacock-clint-gordon-carroll-co-founders-space-monkey">IDG Connect &#8211; Crowdsourcing Innovation: Alen Peacock and Clint Gordon-Carroll, Co-founders of Space Monkey</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://arstechnica.com/security/2013/08/no-this-isnt-a-scene-from-minority-report-this-trash-can-is-stalking-you/">No, this isn&#8217;t a scene from Minority Report. This trash can is stalking you | Ars Technica</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://vimeo.com/52831373">Immutability Changes Everything - Pat Helland, RICON2012 on Vimeo</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.jeffkramer.com/2013/06/03/the-personal-cloud-innovation-happens-at-the-edges/">The Personal Cloud: Innovation Happens at the Edges | Jeff Kramer</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://blog.bittorrent.com/2013/05/23/how-i-created-my-own-personal-cloud-using-bittorrent-sync-owncloud-and-raspberry-pi/">How I Created My Own Cloud Using BitTorrent Sync, Raspberry Pi &amp; Owncloud | The Official BitTorrent Blog</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://lyndsaywilliams.blogspot.co.uk/">Lyndsay Williams Blog</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.getnymi.com/">Nymi</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://thenextweb.com/insider/2013/09/17/whats-the-true-value-of-your-personal-data-meet-the-people-who-want-to-help-you-sell-it/">What&#8217;s the true value of your personal data? Meet the people who want to help you sell it - The Next Web</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://thethingsystem.com/">&#9443; the thing system - Hello, world!</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6496250">iCloud Alternative Loom (YC W12) Raises $1.4 Million Seed Round | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://alexnichols.deviantart.com/art/AirMail-139465277">AirMail by ~alexnichols on deviantART</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6194553">Video: You broke the Internet. We're making ourselves a GNU one. | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://199.231.188.42:8080/">Software Networking &#8212; Free-flowing software networks, unshackled from rigid protocols</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.tor.com/stories/2008/08/weak-and-strange">The Things that Make Me Weak and Strange Get Engineered Away by Cory Doctorow | Tor.com</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.tuneshell.com/">TuneShell - The Ultimate Music Player</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://citizenweb.is/about/">About | The CitizenWeb Project</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://blog.close.io/post/60948403716/why-engineers-scare-me-a-true-story">The Close.io Blog &#8212; Why Engineers Scare Me &#8211; A True Story</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://m.itworld.com/security/373319/real-names-real-problems-pseudonymity-under-siege?page=0,0">Real names, real problems: Pseudonymity under siege | ITworld</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://thingsquare.com/">Thingsquare - Connecting the Internet of Things</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://m.staples.com/sbd/cre/marketing/staples-connect/">Staples&#174; Connect. Solutions for a smarter smart home.</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6078335">100 Ideas for Computing | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6188102">Deutsche Telekom, Web.de and GMX launch "E-mail made in Germany" initiative | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://venturebeat.com/2013/05/31/identity-the-great-enabler-of-whats-next/">Identity &#8212; the great enabler of what&#8217;s next | VentureBeat</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6255592">Nginx Plus | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://blog.inkmobility.com/post/59687500040/open-source-and-the-ios-app-store">Ink</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://xively.com/whats_xively/">What is Xively - Xively</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.nubosoftware.com/howItWorks.html">Nubo Software - BYOD Remote Enterprise Workspace for Mobile Devices</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.nist.gov/nstic/faqs.html">NSTIC Frequently Asked Questions (FAQs)</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.bbc.co.uk/newsbeat/24303512">BBC - Newsbeat - Miss Teen USA webcam hacker is charged</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6499432">Rubinius 2.0 released | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://cloudns.com.au/">CloudNS.com.au</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6194160">Smartphone-monitoring bins in London track places of work, past behavior | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6243936">Mailpile &#8211; taking e-mail back | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.wovyn.com/">Wovyn | Weaving the Internet of Things ...</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://medium.com/surveillance-state/ca083a5b6b7d">Privacy is not dead &#8212; Surveillance State &#8212; Medium</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://m.techcrunch.com/2013/09/04/whisper-15m-sequoia/">Secret-Sharing App Whisper Snags $21 Million From Sequoia, Adds Roelof Botha To Its Board - TechCrunch</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://blog.cryptographyengineering.com/2013/06/can-apple-read-your-imessages.html?m=1">A Few Thoughts on Cryptographic Engineering: Can Apple read your iMessages?</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6400141">Distributed systems for fun and profit | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6460764">Indian High Commission to use typewriters for sensitive information | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.evrythng.com/">EVRYTHNG</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://lavabit.com/history.html">email- Lavabit</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://developers.google.com/gmail/schemas/">Schemas in Gmail &#8212; Google Developers</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://consultingadultblog.blogspot.co.uk/2013/03/why-founding-ceos-fail-redux.html?m=1">Consulting Adult: Why Founding CEO's Fail Redux</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://aralbalkan.com/notes/beware-of-geeks-bearing-gifts/">Aral Balkan &#8212; Beware of geeks bearing gifts</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://scobleizer.com/2012/07/17/the-coming-automatic-freaky-contextual-world-and-why-were-writing-a-book-about-it/">The coming automatic, freaky, contextual world and why we&#8217;re writing a book about it | Scobleizer</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.longaccess.com/">longaccess</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.bbc.co.uk/news/technology-23971118">BBC News - Trendnet ruling heralds crackdown on insecure home webcams</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://cloudfleet.io/">cloud|fleet - be the captain of your data</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://security-architect.blogspot.co.uk/2013/09/gartner-goes-scifi-with-future.html">Gartner Goes Scifi: Four Future Security Scenarios</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=6466574">Freelan - an open-source, multi-platform, peer-to-peer VPN software | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.nytimes.com/roomfordebate/2013/09/08/privacy-and-the-internet-of-things/a-bill-of-rights-for-the-internet-of-things">A Bill of Rights for the Internet of Things - Room for Debate - NYTimes.com</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://news.ycombinator.com/item?id=5884362">Woz talks iOS 7 and PRISM in an off the cuff airport interview [video] | Hacker News</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://www.fsf.org/campaigns/surveillance">Protect your freedom and privacy; join us in creating an Internet that's safer from surveillance &#8212; Free Software Foundation &#8212; working together for free software</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://frankrousseau.github.io/kyou/">With KYou, know yourself better</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="https://mykolab.com/">Welcome to MyKolab.com | MyKolab.com</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.nbcnews.com/technology/privacy-tax-creator-makes-his-case-warns-software-eating-world-1C8390926">'Privacy tax' creator makes his case, warns 'software is eating the world' - NBC News.com</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://cvdazzle.com/">CV Dazzle: Camouflage From Computer Vision by Adam Harvey</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.everytalk.tv/talks/2830-The-Realtime-Conference-Europe-WOOT-an-algorithm-for-concurrency-and-collaborative-authoring">WOOT: an algorithm for concurrency and collaborative authoring! by Aral Balkan at The Realtime Conference Europe 2013 at France, Lyon - EveryTalk.tv</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://thenextweb.com/robertscoble/2013/09/13/apple-is-way-ahead-of-the-rest-of-the-industry-but-im-sticking-with-android-heres-why/">Apple is Way Ahead but I'm Staying with Android</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://www.paqetos.com/PaqetOS/Home.html">Follow @PaqetOS PaqetOS: An Operating System for the Internet of Things</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>
<tr>
    <td>
        <p><a href="http://davmail.sourceforge.net/">DavMail POP/IMAP/SMTP/Caldav/Carddav/LDAP Exchange Gateway</a></p>

        
    </td>
    <td>
        06 Oct 13
    </td>
</tr>

    </tbody>
</table>
