<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="320"/>   
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ ASSET_PATH }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/main.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/supersized.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/supersized.shutter.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/fonts.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/shortcodes.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/responsive.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/custom.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

    <!-- ATOM and RSS Feeds -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>

  <!-- NAVIGATION -->

  {{ content }}
      
      


    <!-- Footer -->
    <footer>
      <div class="container" id="footer">
        <div class="row bordertop">
          <div class="span6 footertext">
            <span class="icon-github" style="float: left; font-size: 60px;"></span>
            <div class="span3">Link to our <a href="https://github.com/nymote/nymote.github.io" target="_blank">Github</a> <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
          </div>
          <div class="span6">
            <div class="icon">
              <span class="icon-inbox" style="float: left; margin-top: 19px; font-size: 60px;"></span>
            </div>
            {% include amc/mailchimp.html %}
          </div>
      </div>
    </footer>
    <!-- End Footer -->


    <!-- JAVASCRIPT -->
    <script src="{{ ASSET_PATH }}/js/modernizr.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- jQuery Core -->
    <script src="{{ ASSET_PATH }}/js/bootstrap.min.js"></script> <!-- Bootstrap -->
    <script src="{{ ASSET_PATH }}/js/supersized.3.2.7.min.js"></script> <!-- Slider -->
    <script src="{{ ASSET_PATH }}/js/waypoints.js"></script> <!-- WayPoints -->
    <script src="{{ ASSET_PATH }}/js/waypoints-sticky.js"></script> <!-- Waypoints for Header -->
    <script src="{{ ASSET_PATH }}/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
    <script src="{{ ASSET_PATH }}/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
    <script src="{{ ASSET_PATH }}/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
    <script src="{{ ASSET_PATH }}/js/jquery.tweet.js"></script> <!-- Tweet -->
    <script src="{{ ASSET_PATH }}/js/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
    <script src="{{ ASSET_PATH }}/js/main.js"></script> <!-- Default JS -->
    <!-- unused -->
    <!--<script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>--> <!-- Google Map API -->
    {% include JB/analytics %}
  </body>
</html>
