<div class="span2 profile">
  <div class="image-wrap">
    <div class="hover-wrap">
      <span class="overlay-img"></span>
      <span class="overlay-text-thumb">Nymote<br/>Lead</span>
    </div>
    <img src="images/mugshots/anil.jpg" alt="Anil">
  </div>
  <h5 class="profile-name">
    <a href="http://anil.recoil.org">Anil M</a>
  </h5>
  <p class="profile-description"></p>
</div>

<div class="span2 profile">
  <div class="image-wrap">
    <div class="hover-wrap">
      <span class="overlay-img"></span>
      <span class="overlay-text-thumb">Nymote<br/>Lead</span>
    </div>
    <img src="images/mugshots/amir.jpg" alt="Amir">
  </div>
  <h5 class="profile-name">
    <a href="http://amirchaudhry.com">Amir C</a>
  </h5>
  <p class="profile-description"></p>
</div>

<div class="span2 profile">
  <div class="image-wrap">
    <div class="hover-wrap">
      <span class="overlay-img"></span>
      <span class="overlay-text-thumb">Nymote<br/>Lead</span>
    </div>
    <img src="images/mugshots/jonc.gif" alt="Jon">
  </div>
  <h5 class="profile-name">
    <a href="http://www.cl.cam.ac.uk/~jac22">Jon C</a>
  </h5>
  <p class="profile-description"></p>
</div>

<div class="span2 profile">
  <div class="image-wrap">
    <div class="hover-wrap">
      <span class="overlay-img"></span>
      <span class="overlay-text-thumb">Signpost<br/>Lead</span>
    </div>
    <img src="images/mugshots/mort.png" alt="Mort">
  </div>
  <h5 class="profile-name">
    <a href="http://www.cs.nott.ac.uk/~rmm">Richard M</a>
  </h5>
  <p class="profile-description"></p>
</div>

<div class="span2 profile">
  <div class="image-wrap">
    <div class="hover-wrap">
      <span class="overlay-img"></span>
      <span class="overlay-text-thumb">Irminsule<br/>Lead</span>
    </div>
    <img src="images/mugshots/tg.png" alt="Thomas">
  </div>
  <h5 class="profile-name">
    <a href="http://gazagnaire.org">Thomas G</a>
  </h5>
  <p class="profile-description"></p>      
</div>

<div class="span2 profile">
  <div class="image-wrap">
    <div class="hover-wrap">
      <span class="overlay-img"></span>
      <span class="overlay-text-thumb">Mirage<br/>Lead</span>
    </div>
    <img src="images/mugshots/djs.jpg" alt="David S">
  </div>
  <h5 class="profile-name">
    <a href="http://dave.recoil.org">David S</a>
  </h5>
  <p class="profile-description"></p>      
</div>

<div class="span2 profile">
  <div class="image-wrap">
    <div class="hover-wrap">
      <span class="overlay-img"></span>
      <span class="overlay-text-thumb">Contributor</span>
    </div>
    <img src="images/mugshots/sheets.png" alt="David">
  </div>
  <h5 class="profile-name">
    <a href="https://github.com/dsheets">David S</a>
  </h5>
  <p class="profile-description"></p>      
</div>

<div class="span2 profile">
  <div class="image-wrap">
    <div class="hover-wrap">
      <span class="overlay-img"></span>
      <span class="overlay-text-thumb">Contributor</span>
    </div>
    <img src="images/mugshots/haris.jpg" alt="Haris">
  </div>
  <h5 class="profile-name">
    <a href="http://www.cl.cam.ac.uk/~cr409">Haris R</a>
  </h5>
  <p class="profile-description"></p>      
</div>

<div class="span2 profile">
  <div class="image-wrap">
    <div class="hover-wrap">
      <span class="overlay-img"></span>
      <span class="overlay-text-thumb">Contributor</span>
    </div>
    <img src="images/mugshots/heidi.jpg" alt="Heidi">
  </div>
  <h5 class="profile-name">
    <a href="http://hh360.user.srcf.net">Heidi H</a>
  </h5>
  <p class="profile-description"></p>      
</div>

<div class="span2 profile">
  <div class="image-wrap">
    <div class="hover-wrap">
      <span class="overlay-img"></span>
      <span class="overlay-text-thumb">Contributor</span>
    </div>
    <img src="images/mugshots/raphael.jpg" alt="Raphael">
  </div>
  <h5 class="profile-name">
    <a href="http://www.cl.cam.ac.uk/~rp452/">Raphael P</a>
  </h5>
  <p class="profile-description"></p>    
</div>

<div class="span2 profile">
  <div class="image-wrap">
    <div class="hover-wrap">
      <span class="overlay-img"></span>
      <span class="overlay-text-thumb">Contributor</span>
    </div>
    <img src="images/mugshots/default.jpg" alt="Balraj">
  </div>
  <h5 class="profile-name">
    <a href="https://github.com/balrajsingh">Balraj S</a>
  </h5>
  <p class="profile-description"></p>      
</div>

<div class="span2 profile">
  <div class="image-wrap">
    <div class="hover-wrap">
      <span class="overlay-img"></span>
        <span class="overlay-text-thumb">Contributor</span>
    </div>
    <img src="images/mugshots/mac.jpg" alt="Derek">
  </div>
  <h5 class="profile-name">
    <a href="http://www.cs.nott.ac.uk/~drm/">Derek M</a>
  </h5>
  <p class="profile-description"></p>      
</div>

<div class="span2 profile">
  <div class="image-wrap">
    <div class="hover-wrap">
      <span class="overlay-img"></span>
      <span class="overlay-text-thumb">Contributor</span>
    </div>
    <img src="images/mugshots/vb.jpg" alt="Vincent">
  </div>
  <h5 class="profile-name">
    <a href="https://github.com/vbmithr">Vincent B</a>
  </h5>
  <p class="profile-description"></p>      
</div>

<div class="span2 profile">
  <div class="image-wrap">
    <div class="hover-wrap">
      <span class="overlay-img"></span>
      <span class="overlay-text-thumb">Contributor</span>
    </div>
    <img src="images/mugshots/jludlam.jpg" alt="John">
  </div>
  <h5 class="profile-name">
    <a href="https://github.com/jonludlam">Jon L</a>
  </h5>
  <p class="profile-description"></p>
</div>
