<h3 class="title-description">
    Learn About our Team.
</h3>
<div class="page-description">
<p>Building lightweight systems specifically geared to live on the cloud is not a trivial undertaking. Even though it’s possible to string together something quick with existing tools, they are ultimately limited since they lack the necessary security considerations. To build scalable and distributed systems of this kind requires deep expertise in the areas of networking, distributed software and the cloud.</p>
</div>
