<!-- TITLE --> 
    <div class="row">
      <div class="span12">
        <div class="title-page">
          <h2 class="title center">
            Lifelong control of your networked personal data
          </h2>        
        </div>    
      </div>
    </div>

<!-- SUB UNITS --> 
    <div class="row">
      <div class="span4">
        <div class="services-box">
          <div class="icon">
            <span class="icon-globe"></span>
          </div>
          <h3>Connectivity</h3>
          <p>Bring all your devices together and create secure networks between them so you can access your data wherever you are</p>
        </div>
      </div>
      
      <div class="span4">
        <div class="services-box">
          <div class="icon">
            <span class="icon-signal"></span>
          </div>
          <h3>Scalability</h3>
          <p>Create your own personal infrastructure then install applications into it securely through an app store for the cloud</p>
        </div>
      </div>
        
      <div class="span4">
        <div class="services-box">
          <div class="icon">
            <span class="icon-home"></span>
          </div>
          <h3>Ownership</h3>
          <p>Take full advantage of the cloud with robust Open Source software and avoid compromising your online destiny</p>
        </div>
      </div>
    </div>