<h3>
    Tools to build a distributed future
</h3>
    
<p>
    Our approach is to create secure, robust and <em>open-source</em> 
    infrastructure that others can build on. Security and privacy need to be 
    incorporated from the ground up so that promises of &#8220;your data is 
    safe with us&#8221; can be kept by the technology itself. In some cases, 
    this means taking existing tools and technologies and making them much 
    easier to use and deploy. In other cases, it may mean rebuilding tools 
    and creating new products to replace those that are no longer fit for 
    purpose.
</p>
<p>
    We are starting with mechanisms to provide <strong>identity</strong> and 
    <strong>connectivity</strong> for your personal cloud of devices as well 
    as the mechanisms to keep data in sync across them. You can find more 
    detail about those in our <a href='../software/'>software</a> section 
    and get involved in the actual code and discussions by joining the 
    <a href='mailto:amir@nymote.com?&subject=Add%20me%20to%20the%20Nymote%20devel%20list'>Nymote developer mailing list</a>. 
</p>
<p>
    To keep up to date with our blog posts and updates please do 
    sign up to the <a href='http://eepurl.com/mXYb1'>Nymote followers mailing list</a>.
</p>