<h3 id='tools_to_build_a_distributed_future'>
    Tools to build a distributed future
</h3>
    
<p>Our approach is to create secure, robust and <em>open-source</em> infrastructure that others can build on. Security and privacy need to be incorporated from the ground up so that promises of &#8220;your data is safe with us&#8221; can be kept by the technology itself. In some cases, this means taking existing tools and technologies and making them much easier to use and deploy. In other cases, it may mean rebuilding tools and creating new products to replace those that are no longer fit for purpose.</p>

<p>We are starting with mechanisms to provide identity and connectivity for your personal cloud of devices as well as the mechanisms to keep data in sync across them. You can find more detail about those on our <a href='../software/'>software</a> page and get involved in the <a href='http://lists.nymote.org'>developer mailing-list</a> too. If you prefer to only hear about announcements, then please sign up to our <a href='TODO'>public list</a>.</p>       