<h3 id='tools_to_build_a_distributed_future'>
    Software to control your digital life
</h3>

<p>We&#8217;re creating software infrastructure to put users back in control of their digital lives.</p>

<p>The internet has become such a huge part of our daily lives to the extent that it&#8217;s difficult to imagine a world without information and connectivity (literally) at your fingertips. Collaboration is easier, communication simpler and generally work is more productive. However, we&#8217;ve also made sacrifices in order to achieve these gains, in many cases without fully comprehending the risks.</p>

<p>By adopting large centralised services we&#8217;ve answered the <a href='#TODO'>call of the siren servers</a> and made an implicit trade. That we will share our habits and data with them in exchange for something useful. In doing so we&#8217;ve empowered internet behemoths while simultaneously reducing our ability to influence them. We risk becoming slaves to the current system unless we can create alternatives that compete. It&#8217;s time to work on those alternatives.</p>