<div class="row">
  <div class="span3">
    <div class="services-box">
      <div class="icon" style="margin-top: 5px;">
        <span class="icon-envelope"></span>
      </div>
    </div>   
  </div>
  <div class="span9">
    <h3>Mail</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id sem urna. Morbi laoreet orci sed elit fermentum mollis. Vestibulum ornare commodo fringilla. Praesent ut rutrum leo, non condimentum lectus. Pellentesque pellentesque dui in urna pharetra, ut pretium mi sollicitudin. Morbi tortor ligula, aliquam nec nibh sed, ornare ornare velit. Etiam at dui a mauris porta condimentum id et velit. Cras semper mollis lacus vitae porta.</p>
  </div>
</div>

<div class="row">
  <div class="span3">
    <div class="services-box">
      <div class="icon" style="margin-top: 5px;">
        <span class="icon-group"></span>
      </div>
    </div>   
  </div>
  <div class="span9">
    <h3>Contacts</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id sem urna. Morbi laoreet orci sed elit fermentum mollis. Vestibulum ornare commodo fringilla. Praesent ut rutrum leo, non condimentum lectus. Pellentesque pellentesque dui in urna pharetra, ut pretium mi sollicitudin. Morbi tortor ligula, aliquam nec nibh sed, ornare ornare velit. Etiam at dui a mauris porta condimentum id et velit. Cras semper mollis lacus vitae porta.</p>
  </div>
</div>

<div class="row">
  <div class="span3">
    <div class="services-box">
      <div class="icon" style="margin-top: 5px;">
        <span class="icon-calendar"></span>
      </div>
    </div>   
  </div>
  <div class="span9">
    <h3>Calendar</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id sem urna. Morbi laoreet orci sed elit fermentum mollis. Vestibulum ornare commodo fringilla. Praesent ut rutrum leo, non condimentum lectus. Pellentesque pellentesque dui in urna pharetra, ut pretium mi sollicitudin. Morbi tortor ligula, aliquam nec nibh sed, ornare ornare velit. Etiam at dui a mauris porta condimentum id et velit. Cras semper mollis lacus vitae porta.</p>
  </div>
</div>
