<p>
    There are two areas we need to work on to allow us to regain the 
    freedoms we&#8217;ve lost. The first of these is to create the 
    appropriate <a href='#infrastructure'>infrastructure</a> that 
    incorporates good security and is distributed in nature. These tools 
    will form the bedrock on which we can then build robust and scalable 
    <a href='#applications'>applications</a>, that provide all the great 
    things we are used to but without requiring us to be subject to the 
    whims of the Internet Barons.
</p><!-- siren servers and our faustian bargain -->
