<div class="row">
  <div class="span3">
    <div class="services-box">
      <div class="icon" style="margin-top: 5px;">
        <a href="/software/mirage"><span class="icon-cloud"></span></a>
      </div>
    </div>   
  </div>
  <div class="span9">
    <h3 id='mirage'>Mirage</h3>
    <p>
      Most applications that run in the cloud aren&#8217;t optimised to do so. 
      They inherently carry assumptions about the underlying operating 
      system with them, including vulnerabilities and bloat. 
      <strong>Mirage</strong> represents an approach where only the 
      necessary components are included, allowing for highly efficient and 
      extremely lean &#8216;appliances&#8217;. These can be deployed in 
      environments ranging from Amazon&#8217;s EC2 to the Raspberry Pi.<br />
      <em>(<a href='/software/mirage/'>more about mirage</a></em>)
    </p>
  </div>
</div>

<div class="row">
  <div class="span3">
    <div class="services-box">
      <div class="icon" style="margin-top: 5px;">
        <a href="/software/irmin"><span class="icon-refresh"></span></a>
      </div>
    </div>   
  </div>
  <div class="span9">
    <h3 id='irmin'>Irmin</h3>
    <p>
      Having multiple devices has made the engineering effort around data 
      persistence and sync more complex. We have to concern ourselves about 
      how data obtained for one device is made available and useful to 
      others, without losing history. <strong>Irmin</strong> is a new 
      kind of library database, based on the principles of Git (the version 
      control system), meaning that all history can be kept and moved 
      between devices with ease.<br />
      <em>(<a href='/software/irmin/'>more about irmin</a></em>)
    </p>
  </div>
</div>

<div class="row">
  <div class="span3">
    <div class="services-box">
      <div class="icon" style="margin-top: 5px;">
        <a href="/software/signpost"><span class="icon-compass"></span></a>
      </div>
    </div>   
  </div>
  <div class="span9">
    <h3 id='signpost'>Signpost</h3>
    <p>
      The cloud is a (mostly) always available service that can be seen by 
      all devices. Without this, it is difficult for individual devices to 
      find each other. <strong>Signpost</strong> is building &#8220;personal 
      cloud&#8221; infrastructure to let your devices all see each and reach 
      each other without requiring any complex configuration. Once all your 
      devices can find each other, regardless of location, you effectively 
      have your own little internet.<br />
      <em>(<a href='/software/signpost/'>more about signpost</a></em>)
    </p>
  </div>
</div>
