<!--- Begin MailChimp Signup Form -->
<link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css" />
<style type="text/css">
  #mc_embed_signup{background-color:transparent; clear:right; font:14px Helvetica,Arial,sans-serif; }
  <!--- /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */ -->
  .footeremail {width:100%;}
</style>
<div id="mc_embed_signup">
  <form action="http://nymote.us5.list-manage.com/subscribe/post?u=8a83b2d5453bba2ee5838b4ad&amp;id=a41245094c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
    <div class="text" style="margin: 10px; margin-left: 73px;">Signup to our newsletter</div>
    <div class="span3">
      <input type="email" value="" name="EMAIL" class="footeremail" placeholder="email address" style="width: 100%; padding: 15px;">
    </div>
    <div class="span2"><div class="clear">
      <input type="submit" class="subscribebutton" value="Subscribe" name="subscribe" style="padding: 6px;">
    </div>
    </div>
  </form>
</div>
<!-- End mc_embed_signup -->        